:root {
  --bg: #f3f3f3;
  --paragraph-bg:#ebf0f3;
  --offwhite: #f2f2f2;
  --primary: #02144d;
  --paragraph: #0b3a8c;
  --sky-blue: #158ce9;
  --mid-blue: rgb(45,112,200);
  --dark-blue:#143496;
  --max-width: 1100px;
  --radius: 20px;
}
@font-face {
  font-family: "lyonFont";
  src: url("COMM - Lyon Arabic Display Regular.otf") format("opentype");
}
@font-face {
  font-family: "lyonFontLight";
  src: url("COMM - Lyon Arabic Display Light.otf") format("opentype");
}
@font-face {
  font-family: "lyonFontMedium";
  src: url("COMM - Lyon Arabic Display Medium.otf") format("opentype");
}
@font-face {
  font-family: "lyonFontBold";
  src: url("COMM - Lyon Arabic Slanted Display Bold.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "lyonFont";
  background: var(--bg);
  color: #1b1b1b;
  direction: rtl;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 15px;
}
#weeklyIntro {
  max-width: var(--max-width);
  margin: 36px auto;
  padding: 8px;
}

#weeklyheading {
  font-family: "Lyon arabic display";
  color: var(--paragraph);
  font-size: clamp(22px, 3.4vw, 36px);
  margin: 8px 0 18px 0;
  font-weight:500;
  text-align: right;
  letter-spacing: 0.2px;
}

.skyblueIntro {
  background: var(--paragraph-bg);
  border: 1px;
  border-radius: var(--radius);
  margin-left: 2;
  /* padding: clamp(14px, 2vw, 22px); */
  padding: 20px ;
  display: block;
  overflow: hidden;
}
.paragraphsContinter{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.skyblueIntro h4 {
  margin: 0;
  line-height: 1.6;
  font-size: clamp(12px, 1.2vw, 14px);
  font-weight: 700; 
  color: var(--paragraph);
}
p{
    color: var(--paragraph);
    padding-left: 20px;
}
#MainParagraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:  36px auto;
  
  padding: 8px;
}
.skyblueParagraphs {
  position: relative;
  background: var(--paragraph-bg);
  border: 10px;
  border-radius: var(--radius);
  margin: 0px;
  padding: 20px ;
  display: block;
  overflow: hidden;
  flex: 1;
  max-width: 800px;
}

.linkIcon {
  position: absolute;
  top: 10px;               
  left: 10px;       
  text-decoration: none;
}
.linkIcon img{
  width: 25px;
  height: auto;
}
.paragraphHeader{
    color: var(--paragraph);
    font-size: larger;
}
#paragraphsEndingDiv {
  padding-top: 10px;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  
}
#paragraphsEndingDiv H1 {
  /* color: var(--primary); */
  font-family: "lyonFontMedium";
  font-weight: 500;
  color: var(--paragraph)
}