:root {
  --bg: #fafafa;
  --primary: #0b3a8c;
  --paragraph: #0b3a8c;
  --max-width: 1100px;
  --radius: 20px;
}
@font-face {
  font-family: "lyonFont";
  src: url("lyon-arabic-display-black.otf");
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "lyonFont";
  background: var(--bg);
  color: #1b1b1b;
  direction: rtl;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 15px;
}
#weeklyIntro {
  max-width: var(--max-width);
  margin: 36px auto;
  padding: 8px;
}

#weeklyheading {
  color: var(--primary);
  font-size: clamp(22px, 3.4vw, 36px);
  margin: 8px 0 18px 0;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.2px;
}

.skyblueIntro {
  background: #ebf0f4;
  border: 1px;
  border-radius: var(--radius);
  margin-left: 2;
  /* padding: clamp(14px, 2vw, 22px); */
  padding: 20px ;
  display: block;
  overflow: hidden;
}
.paragraphsContinter{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.skyblueIntro h4 {
  margin: 0;
  line-height: 1.6;
  font-size: clamp(12px, 1.2vw, 14px); /* حجم أصغر */
  font-weight: 700; /* غامق */
  color: var(--paragraph);
}
p{
    color: var(--paragraph);
    padding-left: 20px;
}
#MainParagraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:  36px auto;
  
  padding: 8px;
}
.skyblueParagraphs {
  background: #ebf0f4;
  border: 1px;
  border-radius: var(--radius);
  margin: 0px;
  padding: 20px ;
  display: block;
  overflow: hidden;
  flex: 1;
  max-width: 800px;
}
.paragraphHeader{
    color: var(--primary);
}